<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <form action="/review" method="post">
                <div>
                    <textarea
                        style="height: 85px"
                        class="input"
                        placeholder="Your review&hellip;"
                        id="review"
                        name="review"
                        rows="4"
                        cols="50"
                    ></textarea>
                </div>
                <div>
                    <input type="submit" class="btn-review" value="Submit" />
                </div>
            </form>
        </div>
    </body>
</html>